
<script type="text/template" id="allCoursesMainAppLayoutTemplate">
    <div id="allCoursesRegion"></div>
</script>

<script type="text/template" id="coursesBrowserMainAppLayoutTemplate">
    <ul class="nav nav-tabs" id="studentViewTabs">
        <li class="">
            <a id="studentViewMyCoursesTab" href="#studentViewMyCourses" data-toggle="tab">{{myCoursesLabel}}</a>
        </li>
        <li class="">
            <a id="studentViewAvailableCoursesTab" href="#studentViewAvailableCourses" data-toggle="tab">{{availableCoursesLabel}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="studentViewMyCourses" class="tab-pane"> </div>
        <div id="studentViewAvailableCourses" class="tab-pane"> </div>
    </div>
</script>

<script type="text/template" id="allCoursesAppLayoutTemplate">
    <div id="allCourseToolbar"></div>
    <div id="allCourseCourseList"></div>
    <div id="allCoursePaginator" class="val-paginator text-center"></div>
</script>

<script type="text/template" id="allCoursesToolbarTemplate">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <div class="val-search">
                <input type="text" class="js-search" placeholder="{{searchLabel}}">
            </div>
        </div>
        {{#isEditor}}{{#ALLCOURSE.CREATE_COURSE}}
        <div class="filter-element shift-right">
            <button class="button medium primary shift-right js-new-course">
                <span class="val-icon-plus"></span>{{addCourseButtonLabel}}
            </button>
        </div>
        {{/ALLCOURSE.CREATE_COURSE}}{{/isEditor}}
    </div>

    <div class="val-row filters-row">
        <div class="shift-left filter-element paging-showing-label" id="allCoursesToolbarShowing"></div>

        <div class="dropdown filter-element shift-right js-sort-filter">
            <button class="button medium simple ">
                <span class="dropdown-text"> {{byNameAscLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>

            <ul class="dropdown-menu">
                <li class="js-sort" data-value="nameAsc"> {{byNameAscLabel}} </li>
                <li class="js-sort" data-value="nameDesc"> {{byNameDescLabel}} </li>
            </ul>
        </div>

        <button class="button medium simple no-text hide-s shift-right js-display-option" data-value="{{tilesModeOption}}">
            <span class="val-icon-grid-view">Grid View</span>
        </button>
        <button class="button medium simple no-text hide-s shift-right js-display-option" data-value="{{listModeOption}}">
            <span class="val-icon-list-view">List View</span>
        </button>
    </div>
</script>

<script type="text/template" id="allCoursesEditModalTemplate">
    <div class="modal-content"></div>
</script>

<script type="text/html" id="allCoursesMainEditView">
    <div class="val-tabs">
        <ul class="nav nav-tabs" id="editCourseTabs">
            <li class="">
                <a id="editCourseDetailsTab" href="#editCourseDetails" data-toggle="tab">{{editCourseInfoLabel}}</a>
            </li>
            <li class="">
                <a id="editCourseMembersTab" href="#editCourseMembers" class="hidden" data-toggle="tab">{{editCourseMembersLabel}}</a>
            </li>
            <li class="">
                <a id="editRequestsTab" href="#editRequests" class="hidden" data-toggle="tab">
                    {{editRequestsLabel}}
                </a>
                <span class="request-count-tab-label membership-requests-count"></span>
            </li>
        </ul>

        <div class="tab-content">
            <div id="editCourseDetails" class="tab-pane"> </div>
            <div id="editCourseMembers" class="tab-pane"> </div>
            <div id="editRequests" class="tab-pane"> </div>
        </div>
    </div>
    <div class="modal-close val-icon-exit"></div>

    <div class="bbm-modal__bottombar">
        <button class="button big neutral modal-close">
            {{cancelLabel}}
        </button>
        <button class="button big primary js-submit-button ">
            {{saveCourseButtonLabel}}
        </button>
    </div>
</script>

<script type="text/html" id="allCoursesEditCourseView">
    <div class="div-table val-info-table small">
        <div class="div-row">
            <div class="div-col name-col valamis">{{courseNameLabel}}</div>
            <div class="div-col content-col">
                <input type='text' title='{{requiredFieldTooltipLabel}}'
                       class="js-course-title text-input valamis box-sizing" value='{{title}}' placeholder='{{newCourseLabel}}'/>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col valamis">{{slidesetLogoLabel}}</div>
            <div class="div-col content-col">
                <img src="{{logoUrl}}" class='js-logo shift-left val-img-logo course js-upload-image'>
                <div class="button-block shift-left">
                    <button class="button medium primary js-upload-image">
                        {{uploadLabel}}
                    </button>
                    <button class="button medium neutral js-select-from-media-gallery">
                        {{selectFromMediaGalleryLabel}}
                    </button>
                </div>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col valamis">{{courseDescriptionLabel}}</div>
            <div class="div-col content-col">
                <textarea rows="4" class="js-course-description box-sizing textarea valamis "
                          placeholder='{{courseDescriptionPlaceholder}}'>{{description}}</textarea>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col valamis">{{courseActiveState}}</div>
            <div class="div-col content-col">
              <!--  <input type='text'
                       class="js-course-friendly-url text-input valamis box-sizing" value='{{friendlyUrl}}' placeholder='{{friendlyUrlPlaceholder}}'/>
                -->
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="siteActiveType" id="siteActiveYes">
                        {{yesLabel}}
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="siteActiveType" id="siteActiveNo">
                        {{noLabel}}
                    </label>

                </div>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col valamis">{{courseFriendlyUrlLabel}}</div>
            <div class="div-col content-col">
                <input type='text' class="js-course-friendly-url text-input valamis box-sizing"
                       value='{{friendlyUrl}}' placeholder='{{friendlyUrlPlaceholder}}'/>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col valamis">{{membershipTypeTitle}}</div>
            <div class="div-col content-col course-type-selector">
                <div>
                    <label class="radio-inline course-type-name">
                        <input type="radio" name="membershipType" id="openMembership">
                        {{membershipTypeOptionOpenLabel}}
                    </label>
                    <label class="course-type-description" id="membershipSelectionCommentOpen">
                        {{membershipTypeOptionOpenComment}}
                    </label>
                    <label class="radio-inline course-type-name">
                        <input type="radio" name="membershipType" id="requestMembership">
                        {{membershipTypeRestrictedLabel}}
                    </label>
                    <label class="course-type-description" id="membershipSelectionCommentRestricted">
                        {{membershipTypeRestrictedComment}}
                    </label>
                    <label class="radio-inline course-type-name">
                        <input type="radio" name="membershipType" id="closedMembership">
                        {{membershipTypePrivateLabel}}
                    </label>
                    <label class="course-type-description" id="membershipSelectionCommentPrivate">
                        {{membershipTypePrivateComment}}
                    </label>
                </div>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">{{categoriesLabel}}</div>
            <div class="div-col content-col selectize-dropdown-style">
                <input type="text" class="js-course-tags val-tags demo-default selectized" title="Lesson tags" tabindex="-1" style="display: none;"/>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="allCoursesLayoutTemplate">
    <div class="js-courses-list val-row list"></div>
    <div class="div-table no-content-table hidden js-no-items">
        <div class="div-col div-col-center">{{noCoursesLabel}}</div>
    </div>
</script>

<script type="text/template" id="allCoursesRowViewTemplate">
    <div class="tile-content with-action">
        <div class="tile-with-rating">
            <div class="image course"
                 {{#hasLogo}}
                 style="background-image: url('{{logoUrl}}&tmstamp={{timestamp}}')"
                 {{/hasLogo}}
            >
            {{#url}}<a href={{url}} target="_blank"></a>{{/url}}
            </div>
            <div class="valamis-rating js-valamis-rating"></div>
        </div>
        <ul>
            <li class="titleRow">
                {{#url}}<a href="{{url}}" target="_blank">{{/url}}
                <span class="title">{{title}}</span>
                {{#url}}</a>{{/url}}
                {{#isEditor}}{{#membershipRequestsCount}}
                <span class="membership-requests-count">{{membershipRequestsCount}}</span>
                <span class="membership-requests-label">{{requestsPendingLabel}}</span>
                {{/membershipRequestsCount}}{{/isEditor}}
            </li>
            {{#description}}
                <li class="description">{{description}}</li>
            {{/description}}
            <li>
                <span class="course-type val-label"></span>
                {{^isActive}}<span class="val-label">{{inactiveLabel}}</span>{{/isActive}}
                <span class="course-tags"></span>
            </li>
        </ul>
        {{#isEditor}}
            {{#ALLCOURSE.MODIFY_ACTION}}
                <div class="dropdown actions shift-right">
                    <button class="button medium neutral">
                        <span class="dropdown-text">{{actionsButtonLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
                    </button>
                    <ul class="dropdown-menu">
                            <li class="js-course-info-edit" data-value="editInfo:true"> {{editInfoButtonLabel}} </li>
                            <li class="js-course-members-edit" data-value="editMembers:true"> {{editMembersButtonLabel}} </li>
                            {{#isRestrictedCourse}}
                                <li class="js-course-requests-edit" data-value="editRequests:true"> {{editRequestsButtonLabel}} </li>
                            {{/isRestrictedCourse}}
                            <li class="js-course-delete" data-value="delete:true"> {{deleteButtonLabel}} </li>
                    </ul>
                </div>
            {{/ALLCOURSE.MODIFY_ACTION}}
        {{/isEditor}}
        {{^isEditor}}
            <div class="action-buttons shift-right">
                <button class="joinButton button medium"></button>
            </div>
        {{/isEditor}}
    </div>
</script>

<script type="text/template" id="allCoursesMembersToolbarViewTemplate">

    <div class="filters-row clearfix">
        <div class="filter-element paging-showing-label shift-left js-paginator-showing"></div>

        <div class="filter-element shift-left">
            <div class="val-search">
                <input type="text" placeholder="{{searchLabel}}" class="js-search">
            </div>
        </div>

        <div class="filter-element shift-right">
            {{#isAddView}}
            <button class="button medium primary shift-right js-add-items" data-value="{{memberType}}">
                {{addMembersLabel}}
            </button>
            {{/isAddView}}
        </div>
    </div>

    <div class="filters-row clearfix display-on-selection">
        <div class="filter-element shift-left user-selection-count">
            <span class="user-selection-count-label"></span>
            <span class="user-selection-separator">-</span>
            <span class="deselect-all-label">{{deselectAllLabel}}</span>
        </div>
        <div class="filter-element shift-left user-global-deselect"></div>
        <div class="filter-element shift-left user-global-buttons">
            <button class="button medium simple no-text js-global-assign-role">
                <span class="val-icon-user"></span>
            </button>
            <button class="button medium simple no-text js-global-delete-item">
                <span class="val-icon-trash"></span>
            </button>
        </div>
    </div>

    <div class="filters-row clearfix table-header-row">
        <table class="val-table medium list no-out-margin">
            <td class="checkbox-col">
                <input type="checkbox" name="check"
                       {{#isAddView}}
                            id="AddViewCheckbox"
                       {{/isAddView}}
                       {{^isAddView}}
                            id="notAddViewCheckbox"
                       {{/isAddView}}
                class="val-checkbox js-selectAll-item"/>
                <label class="checkbox-label"
                       {{#isAddView}}
                            for="AddViewCheckbox"
                       {{/isAddView}}
                       {{^isAddView}}
                            for="notAddViewCheckbox"
                       {{/isAddView}} ">
                </label>
            </td>

            <td class="name-col">{{memberLabel}}</td>
            <td class="picture-placeholder"></td>

            {{#isAddView}}
            <td class="role-col">{{rolesLabel}}</td>
            {{/isAddView}}

            <td class="text-right">
                <div class="dropdown filter-element shift-right js-sort-filter" data-value="name:true">
                    <button class="button medium simple">
                        <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="selected" data-value="name:true"> {{byNameAscLabel}} </li>
                        <li data-value="name:false"> {{byNameDescLabel}} </li>
                    </ul>
                </div>
            </td>
        </table>
    </div>
</script>

<script type="text/template" id="allCoursesEditMembersItemViewTemplate">
    <td class="checkbox-col">
        <input type="checkbox" id="toggleItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="toggleItem_{{id}}"></label>
    </td>

    {{#picture}}
    <td class="narrow-col">
        <img src="{{picture}}" alt="{{name}}" class="img-circle">
    </td>
    {{/picture}}

    <td class="name-col"> {{name}} </td>

    <td><span class="role-col"></span></td>

    <td class="text-right">
        <button class="button medium simple no-text js-assign-role">
            <span class="val-icon-user"></span>
        </button>
        <button class="button medium simple no-text js-delete-item">
            <span class="val-icon-trash"></span>
        </button>
    </td>
</script>

<script type="text/template" id="allCoursesAddMembersItemViewTemplate">
    <td class="checkbox-col">
        <input type="checkbox" id="toggleAddItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="toggleAddItem_{{id}}"></label>
    </td>

    {{#picture}}
    <td class="narrow-col">
        <img src="{{picture}}" alt="{{name}}" class="img-circle">
    </td>
    {{/picture}}

    <td class="name-col"> {{name}} </td>
</script>

<script type="text/template" id="allCoursesMemberRequestsItemViewTemplate">
    {{#picture}}
    <td class="narrow-col">
        <img src="{{picture}}" alt="{{name}}" class="img-circle">
    </td>
    {{/picture}}

    <td class="name-col">
        <span class="name-field">{{name}}</span>
        <span class="email-field">{{email}}</span>
    </td>

    <td class="text-right">
        <button class="button medium primary js-button-accept">{{buttonLabelApprove}}</button>
        <button class="button medium neutral js-button-deny">{{buttonLabelDeny}}</button>
    </td>
</script>

<script type="text/template" id="allCoursesAddSiteRolesToolbarViewTemplate">
    <div class="filters-row clearfix table-header-row site-roles-table-header-row">
        <table class="val-table medium list no-out-margin">
            <td class="checkbox-col">
                <input type="checkbox" name="check" id="SiteRolesGlobalCheckbox" class="val-checkbox js-selectAll-item"/>
                <label class="checkbox-label" for="SiteRolesGlobalCheckbox" </label>
            </td>

            <td class="name-col"> {{siteRoleNameHeaderLabel}} </td>
            <td class="description-col"> {{siteRoleDescriptionHeaderLabel}} </td>
        </table>
    </div>
</script>

<script type="text/template" id="allCoursesAddSiteRolesItemViewTemplate">
    <td class="checkbox-col">
        <input type="checkbox" id="siteRoleToggleItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="siteRoleToggleItem_{{id}}"></label>
    </td>

    <td class="name-col"> {{name}} </td>
    <td class="description-col"> {{description}} </td>
</script>