<!-- CompetencesAdmin -->

<script type="text/template" id="competencesAdminLayoutTemplate">
    <div class="portlet-wrapper">
        <div class="portlet-sidebar" id="competencesAdminSidebar">
        </div>
        <div class="content-wrapper">
            <div class="content-container clearfix" id="competencesAdminContent">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="competencesAdminSidebarTemplate">
    <div class="sidebar-content no-header">
        <ul class="val-tree" style="margin-top: 10px;">
            <li class="js-edit-item" data-value="categoryPath">
                <span class="tree-item">
                    <span class="tree-item-title">
                         {{categoriesLabel}}
                    </span>
                </span>
            </li>
            <li class="js-edit-item" data-value="competence">
                <span class="tree-item">
                    <span class="tree-item-title">
                         {{competencesLabel}}
                    </span>
                </span>
            </li>
            <li class="js-edit-item" data-value="level">
                <span class="tree-item">
                    <span class="tree-item-title">
                         {{levelOfCompetenceLabel}}
                    </span>
                </span>
            </li>
            <li class="js-edit-item" data-value="skill">
                <span class="tree-item">
                    <span class="tree-item-title">
                         {{skillsLabel}}
                    </span>
                </span>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="competencesAdminEditCategoryTemplate">
    <div class="clearfix competences-list-header">
        <button class="button medium neutral no-text shift-left js-cancel-item">
            <span class="val-icon-arrow-left"></span> Back
        </button>

        <h4 class="shifted shift-left">
            {{^id}} {{categoryAddLabel}} {{/id}}
            {{#id}} {{categoryEditLabel}} {{/id}}
        </h4>
    </div>

    <div class="div-table val-info-table settings-table">
        <div class="div-row">
            <div class="div-col name-col">
                <label for="categoryParent"> {{parentCategoryLabel}} </label>
            </div>
            <div class="div-col content-col">
                <div class="val-select fixed-width">
                    <select id="categoryParent">
                        <option value=""> --- </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="categoryOrder"> {{orderLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width js-digits-only" type="text" id="categoryOrder" placeholder="0" value="{{order}}">
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="categoryName"> {{nameLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width" type="text" id="categoryName" value="{{title}}" placeholder="Category name">
            </div>
        </div>
    </div>

    <div class="clearfix competences-list-header">
        <h4 class="shifted shift-left"> {{categoriesLabel}} </h4>
        <button class="button medium primary shift-right js-add-category-child new-item-button">
            <span class="val-icon-plus"></span> {{categoryAddLabel}}
        </button>
    </div>

    <table id="categoryChildCategoriesRegion" class="val-table small list no-side-border competences-list-table">
    </table>

    <div class="clearfix competences-list-header">
        <h4 class="shifted shift-left"> {{skillsLabel}} </h4>
        <button class="button medium primary shift-right js-add-category-skill new-item-button">
            <span class="val-icon-plus"></span> {{skillAddLabel}}
        </button>
    </div>

    <table id="categoryChildSkillsRegion" class="val-table small list no-side-border competences-list-table">
    </table>

    <div class="content-footer clearfix">
        {{#id}}
        <div class="shift-left">
            <button class="button medium danger js-delete-item"> {{deleteLabel}} </button>
        </div>
        {{/id}}

        <div class="shift-right">
            <button class="button medium neutral js-save-add-item"> {{saveAddAnotherLabel}} </button>
            <button class="button medium primary js-save-item"> {{saveLabel}} </button>
        </div>
    </div>
</script>

<script type="text/template" id="childItemTableHeadTemplate">
    <tr>
        <th> {{nameLabel}} </th>
        <th>
            {{#isSkill}} {{descriptionLabel}} {{/isSkill}}
            {{^isSkill}} {{orderLabel}} {{/isSkill}}
        </th>
        <th> </th>
    </tr>
</script>

<script type="text/template" id="competencesAdminEditLevelTemplate">
    <div class="clearfix competences-list-header">
        <button class="button medium neutral no-text shift-left js-cancel-item">
            <span class="val-icon-arrow-left"></span> Back
        </button>

        <h4 class="shifted shift-left">
            {{^id}} {{levelAddLabel}} {{/id}}
            {{#id}} {{levelEditLabel}} {{/id}}
        </h4>
    </div>

    <div class="div-table val-info-table settings-table">
        <div class="div-row">
            <div class="div-col name-col">
                <label for="levelName"> {{nameLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width" type="text" id="levelName" value="{{title}}" placeholder="Level name">
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="levelValue"> {{valueLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width js-digits-only" type="text" id="levelValue" value="{{value}}" placeholder="0">
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="levelDescription"> {{descriptionLabel}} </label>
            </div>
            <div class="div-col content-col">
                <textarea class="fixed-width" id="levelDescription" placeholder="Level description">{{description}}</textarea>
            </div>
        </div>
    </div>

    <div class="content-footer clearfix">
        {{#id}}
        <div class="shift-left">
            <button class="button medium danger js-delete-item"> {{deleteLabel}} </button>
        </div>
        {{/id}}

        <div class="shift-right">
            <button class="button medium neutral js-save-add-item"> {{saveAddAnotherLabel}} </button>
            <button class="button medium primary js-save-item"> {{saveLabel}} </button>
        </div>
    </div>
</script>

<script type="text/template" id="competencesAdminEditSkillTemplate">
    <div class="clearfix competences-list-header">
        <button class="button medium neutral no-text shift-left js-cancel-item">
            <span class="val-icon-arrow-left"></span> Back
        </button>

        <h4 class="shifted shift-left">
            {{^id}} {{skillAddLabel}} {{/id}}
            {{#id}} {{skillEditLabel}} {{/id}}
        </h4>
    </div>

    <div class="div-table val-info-table settings-table">
        <div class="div-row">
            <div class="div-col name-col">
                <label for="skillName"> {{nameLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width" type="text" id="skillName" value="{{title}}" placeholder="Skill name">
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="skillDescription"> {{descriptionLabel}} </label>
            </div>
            <div class="div-col content-col">
                <textarea class="fixed-width" id="skillDescription" placeholder="Skill description">{{description}}</textarea>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="skillCategory"> {{categoryLabel}} </label>
            </div>
            <div class="div-col content-col">
                <div class="val-select fixed-width">
                    <select id="skillCategory">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="content-footer clearfix">
        {{#id}}
        <div class="shift-left">
            <button class="button medium danger js-delete-item"> {{deleteLabel}} </button>
        </div>
        {{/id}}

        <div class="shift-right">
            <button class="button medium neutral js-save-add-item"> {{saveAddAnotherLabel}} </button>
            <button class="button medium primary js-save-item"> {{saveLabel}} </button>
        </div>
    </div>
</script>

<script type="text/template" id="competencesAdminEditCompetenceTemplate">
    <div class="clearfix competences-list-header">
        <button class="button medium neutral no-text shift-left js-cancel-item">
            <span class="val-icon-arrow-left"></span> Back
        </button>

        <h4 class="shifted shift-left">
            {{^id}} {{competenceAddLabel}} {{/id}}
            {{#id}} {{competenceEditLabel}} {{/id}}
        </h4>
    </div>

    <div class="div-table val-info-table settings-table">
        <div class="div-row">
            <div class="div-col name-col">
                <label for="competenceUser"> {{userLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input class="fixed-width" type="text" id="competenceUser" value="{{userId}}" disabled>
                <button class="button medium neutral no-text js-select-user">
                    <span class="val-icon-edit"></span> Select
                </button>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="competenceSkill"> {{skillLabel}} </label>
            </div>
            <div class="div-col content-col">
                <div class="val-select fixed-width">
                    <select id="competenceSkill">
                    </select>
                </div>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="competenceLevel"> {{levelLabel}} </label>
            </div>
            <div class="div-col content-col">
                <div class="val-select fixed-width">
                    <select id="competenceLevel">
                    </select>
                </div>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="competenceFavourite"> {{favouriteLabel}} </label>
            </div>
            <div class="div-col content-col">
                <input id="competenceFavourite" type="checkbox" class="val-checkbox" {{#favourite}} checked {{/favourite}} />
                <label class="checkbox-label" for="competenceFavourite"></label>
            </div>
        </div>

        <div class="div-row">
            <div class="div-col name-col">
                <label for="competenceDescription"> {{descriptionLabel}} </label>
            </div>
            <div class="div-col content-col">
                <textarea class="fixed-width" id="competenceDescription">{{description}}</textarea>
            </div>
        </div>
    </div>

    <div class="content-footer clearfix">
        {{#id}}
        <div class="shift-left">
            <button class="button medium danger js-delete-item"> {{deleteLabel}} </button>
        </div>
        {{/id}}

        <div class="shift-right">
            <button class="button medium neutral js-save-add-item"> {{saveAddAnotherLabel}} </button>
            <button class="button medium primary js-save-item"> {{saveLabel}} </button>
        </div>
    </div>
</script>

<script type="text/template" id="competencesAdminListTemplate">
    <div class="clearfix competences-list-header">
        <h4 class="shifted shift-left"> {{header}} </h4>
        <button class="button medium primary js-add-item shift-right"> {{addItem}} </button>
    </div>
    <table class="val-table medium list no-side-border competences-list-table">
        <tbody class="js-list-view"></tbody>
    </table>
</script>

<script type="text/template" id="competencesAdminListWithPaginationTemplate">
    <div class="clearfix competences-list-header">
        <h4 class="shifted shift-left"> {{header}} </h4>
        <button class="button medium primary js-add-item shift-right"> {{addItem}} </button>
    </div>

    <div class="clearfix filters-row">
        <div class="shift-right filter-element paging-showing-label" id="listPagingShowing"></div>
    </div>

    <table class="val-table medium list no-side-border competences-list-table">
        <tbody class="js-list-view"></tbody>
    </table>

    <div class="val-paginator text-center top-shifted" id="listPaginator"></div>
</script>

<script type="text/template" id="competencesAdminListItemTemplate">
    <td>
        {{title}}
    </td>
    <td class="text-right">
        <button class="button medium neutral no-text js-list-item-edit">
            <span class="val-icon-edit"></span> Edit
        </button>
        <button class="button medium danger no-text js-list-item-delete">
            <span class="val-icon-trash"></span> Delete
        </button>
    </td>
</script>

<script type="text/template" id="childCategoryItemTemplate">
    <td class="fix-col-width">
        <input class="fixed-width js-child-data" type="text" data-value="title" value="{{title}}" placeholder="Category name">
    </td>
    <td>
        <input class="fixed-width js-child-data js-digits-only" type="text" data-value="order" value="{{order}}" placeholder="Order">
    </td>
    <td class="text-right">
        <button class="button medium danger no-text js-child-delete">
            <span class="val-icon-trash"></span> Delete
        </button>
    </td>
</script>

<script type="text/template" id="childSkillItemTemplate">
    <td class="fix-col-width">
        <input class="fixed-width js-child-data" type="text" data-value="title" value="{{title}}" placeholder="Skill name">
    </td>
    <td>
        <textarea class="fixed-width js-child-data" data-value="description" placeholder="Skill description">{{description}}</textarea>
    </td>
    <td class="text-right">
        <button class="button medium danger no-text js-child-delete">
            <span class="val-icon-trash"></span> Delete
        </button>
    </td>
</script>

<!-- CompetencesUser -->

<script type="text/template" id="competencesUserLayoutTemplate">
    <div id="competencesUserToolbar"></div>
    <div id="competencesUserBreadcrumbs"></div>
    <div id="competencesUserContent"></div>
</script>


<script type="text/template" id="competencesUserPromptItemTemplate">
    <span class="prompt-left">{{title}}</span> <span class="prompt-right">{{promptSection}} </span>
</script>


<script type="text/template" id="competencesUserToolbarTemplate">
    <div class="val-row filters-row">
        <div class="dropdown actions filter-element shift-left">
            <div class="val-search">
                <input type="text" class="js-toolbar-search js-search" placeholder="{{searchPlaceholderLabel}}">
            </div>
            <ul id="competencesSearchPrompt" class="dropdown-menu dropdown-menu-search">
            </ul>
        </div>

        <div class="dropdown actions filter-element shift-right" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text"> {{otherMenuLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="js-show-content" data-value="allcompetences"> {{allCompetencesMenuLabel}} </li>
                <li class="js-show-content" data-value="allskills"> {{allSkillsMenuLabel}} </li>
                <li class="js-show-content" data-value="allcategories"> {{allCategoriesMenuLabel}} </li>
                <li class="js-show-content" data-value="selectuser"> {{selectUserMenuLabel}} </li>
            </ul>
        </div>

        <div class="dropdown actions filter-element shift-right" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text"> {{myCompetencesMenuLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="js-show-content" data-value="myskills"> {{mySkillsMenuLabel}} </li>
                <li class="js-show-content" data-value="mycompetences"> {{myCompetencesMenuLabel}} </li>
                <li class="js-show-content" data-value="myexperience"> {{myExperienceMenuLabel}} </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="competencesUserBreadcrumbsTemplate">
    <div class="val-row filters-row">
        <a class="cursor-pointer js-link-to-group" data-value="all"> {{allCompetencesMenuLabel}} </a>
        {{#isUser}} > {{usersLabel}}: {{itemName}} {{/isUser}}
        {{#isCertificate}} > {{valamisCertificatesLabel}}: {{itemName}} {{/isCertificate}}

        {{#isGroup}} > {{groupName}} {{/isGroup}}
        {{#isGroupItem}} > <a class="cursor-pointer js-link-to-group" data-value="{{groupType}}"> {{groupName}} </a> > {{itemName}} {{/isGroupItem}}
    </div>
</script>

<script type="text/template" id="competencesUserEditMySkillsTemplate">
    <div class="val-row shifted">
        <h4 class="shift-left">{{header}}</h4>
        {{#isEditView}} <button class="button medium primary shift-right js-save-competences"> {{saveLabel}} </button> {{/isEditView}}
    </div>

    <table id="mySkillsTable" class="val-table small list">
        <tbody id="bodyRegion"></tbody>
    </table>

    {{#isEditView}}
    <div class="val-row shifted">
        <button class="button medium primary js-save-competences shift-right"> {{saveLabel}} </button>
    </div>
    {{/isEditView}}
</script>

<script type="text/template" id="competencesUserHeadViewTemplate">
    <th class="text-center">
        {{#description}}
            <span class="valamis-tooltip" data-placement="bottom" title="{{description}}"> {{title}} </span>
        {{/description}}
        {{^description}}
            {{title}}
        {{/description}}
    </th>
</script>

<script type="text/template" id="competencesUserCategoryRowViewTemplate">
    {{#withLevelNames}}
    <tr class="competence-category depth-{{depth}}">
        <td>
        {{#categoryId}} <a class="js-competence-category" data-value="{{categoryId}}"> {{/categoryId}}
                {{fullIndex}} {{categoryTitle}}
        {{#categoryId}} </a> {{/categoryId}}
        </td>
        {{#showFavourite}} <td> {{favouriteLabel}} </td> {{/showFavourite}}

        {{#levelsList}}
            <td>
                {{#description}}
                    <span class="valamis-tooltip" data-placement="bottom" title="{{description}}"> {{title}} </span>
                {{/description}}
                {{^description}}
                    {{title}}
                {{/description}}
            </td>
        {{/levelsList}}
    </tr>
    {{/withLevelNames}}

    {{^withLevelNames}}
    <tr class="competence-category depth-{{depth}}">
        <td colspan={{colspan}}> {{fullIndex}} {{categoryTitle}} </td>
    </tr>
    {{/withLevelNames}}
</script>

<script type="text/template" id="competencesUserSkillTdViewTemplate">
    <td>
        <a class="js-competence-skill" data-value="{{skillId}}"> {{title}} </a>
    </td>

    <td class="text-center js-skill-favourite-td"></td>

    <td class="js-skill-level-td"></td>
</script>


<script type="text/template" id="competencesUserSkillDivViewTemplate">
    <td>
        <a class="js-competence-skill" data-value="{{skillId}}"> {{title}} </a>
    </td>

    {{#showFavourite}}
    <td class="text-center js-skill-favourite-td"></td>
    {{/showFavourite}}

    {{#levelsList}}
    <td class="text-center js-skill-level-td" data-value="{{id}}">  </td>
    {{/levelsList}}
</script>

<script type="text/template" id="competencesUserSkillRadiobuttonViewTemplate">
    <td>
        {{#description}}
        <span class="valamis-tooltip" data-placement="right" title="{{description}}"> {{title}} </span>
        {{/description}}
        {{^description}}
        {{title}}
        {{/description}}
    </td>

    <td class="text-center js-skill-favourite-td">
        <input id="skillFavourite_{{id}}" class="val-checkbox" type="checkbox" />
        <label class="checkbox-label" for="skillFavourite_{{id}}"></label>
    </td>

    {{#levelsList}}
        <td class="text-center"> <input class="js-skill-radiobutton" type="radio" value="{{id}}" name="skill_{{skillId}}"/> </td>
    {{/levelsList}}
</script>

<script type="text/template" id="competencesUserSkillDropdownViewTemplate">
    <td>
        {{#description}}
        <span class="valamis-tooltip" data-placement="right" title="{{description}}"> {{title}} </span>
        {{/description}}
        {{^description}}
        {{title}}
        {{/description}}
    </td>

    <td class="text-center js-skill-favourite-td">
        <input id="skillFavourite_{{id}}" class="val-checkbox" type="checkbox" />
        <label class="checkbox-label" for="skillFavourite_{{id}}"></label>
    </td>

    <td class="text-left">
        <div class="dropdown filter-element js-levels-dropdown" data-value="">
            <button class="button medium neutral select-button">
                <div class="dropdown-text"> {{noExperienceLabel}} </div>
                <span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu js-levels-menu">
                <li data-value="">{{noExperienceLabel}}</li>
                {{#levelsList}}
                <li data-value={{id}}> {{title}} </li>
                {{/levelsList}}
            </ul>
        </div>
    </td>
</script>

<script type="text/template" id="competencesUserSkillLevelTooltipTemplate">
    <span class="valamis-tooltip" data-placement="right" title="{{description}}"> {{value}} </span>
</script>

<script type="text/template" id="competencesUserCompetencesLayoutTemplate">
    <div id="userInfoRegion"></div>
    <div id="userSkillsRegion" class="block-margin"></div>
    <div id="userCompetencesLinkRegion" class="block-margin"></div>
    <div id="userValamisCertificatesRegion" class="block-margin"></div>
    <div id="userOtherExperienceRegion" class="block-margin"></div>
</script>

<script type="text/template" id="competencesUserInfoViewTemplate">
    <div class="div-table val-info-table block-margin">
        <div class="div-row">
            <div class="div-col single-element-col"><img src="{{picture}}" alt="{{name}}" class="img-circle"/></div>
            <div class="div-col">
                <div>{{name}}</div>
                <!--<div>{{email}}</div>-->
                <!--<div>{{phones}}</div>-->
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="competencesUserValamisCertificatesViewTemplate">
   <h3 class="block-header"> {{usersValamisCertificatesLabel}} </h3>
   <div class="js-list-view"></div>
</script>

<script type="text/template" id="competencesUserValamisCertificateItemViewTemplate">
    <div class="tile-content">
        <div class="image certificate img-square"
        {{#logo}}
        style="background-image: url('{{{apiPath}}}files/images?folderId={{id}}&file={{logo}}')"
        {{/logo}}></div>
        </div>
        <ul>
            <li class="title">{{title}}</li>
            {{#description}}
            <li class="description"> {{description}} </li>
            {{/description}}
        </ul>
    </div>
</script>

<script type="text/template" id="competencesUserLinkToMatrixViewTemplate">
    <a class="cursor-pointer js-link-to-matrix"> {{viewCompetensesAsMatrixLabel}} </a>
</script>

<script type="text/template" id="competencesUserExperienceLayoutTemplate">
    {{#editView}}
        <h4 class="shifted"> {{myOtherExperienceLabel}} </h4>
    {{/editView}}
    {{^editView}}
        <h3 class="block-header">{{userOtherExperienceLabel}} </h3>
    {{/editView}}

    <div id="userCoursesRegion"></div>
    <div id="userCertificatesRegion"></div>
    <div id="userHopesRegion"></div>

    {{#editView}}
    <div class="val-row shifted">
        <button class="button medium primary js-save-experiences shift-right"> {{saveLabel}} </button>
    </div>
    {{/editView}}
</script>

<script type="text/template" id="competencesUserMyExperienceViewTemplate">
    <div class="clearfix competences-list-header">
        <h5 class="shifted shift-left"> {{header}} </h5>
        <button class="button medium primary js-add-item shift-right"> {{addItem}} </button>
    </div>
    <table class="val-table medium list">
        <thead>
        <tr>
            <th>{{yearLabel}}</th>
            <th>{{nameLabel}}</th>
            <th>{{descriptionLabel}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="js-list-view"></tbody>
    </table>
</script>

<script type="text/template" id="competencesUserMyExperienceItemViewTemplate">
    <td>
        <input class="js-item-data" type="text" data-value="year" value="{{year}}" placeholder="Year">
    </td>
    <td>
        <input class="js-item-data" type="text" data-value="title" value="{{title}}" placeholder="Name">
    </td>
    <td>
        <textarea class="js-item-data" data-value="description" placeholder="Description">{{description}}</textarea>
    </td>
    <td class="text-right">
        <button class="button medium danger no-text js-item-delete">
            <span class="val-icon-trash"></span> Delete
        </button>
    </td>
</script>

<script type="text/template" id="competencesUserExperienceViewTemplate">
    <div class="val-row">
        <h5> {{header}} </h5>
    </div>

    <table class="val-table simple user-experience-table">
        <tbody class="js-list-view"></tbody>
    </table>
</script>

<script type="text/template" id="competencesUserExperienceItemViewTemplate">
    <td> <span> {{year}} </span> </td>
    <td>
        {{title}} <br>
        <span> {{description}} </span>
    </td>
</script>

<script type="text/template" id="competencesUserListViewTemplate">
    {{#isSearchResult}}
        <h5 class="shifted"> {{header}} </h5>
    {{/isSearchResult}}
    {{^isSearchResult}}
        <h4 class="shifted"> {{header}} </h4>
    {{/isSearchResult}}

    <div class="block-margin">
        <ul class="js-list-view competences-list"></ul>
    </div>
</script>

<script type="text/template" id="competencesUserListItemViewTemplate">
        <a class="cursor-pointer" data-value="{{id}}"> {{title}} </a>
</script>

<script type="text/template" id="competencesUserSingleCategoryViewTemplate">
    <h4 class="shifted">{{categoryLabel}}: {{title}}</h4>
    <hr>
    <div id="singleCategoryChildCategoriesRegion"></div>
    <div id="singleCategoryChildSkillsRegion"></div>
</script>

<script type="text/template" id="competencesUserSingleSkillViewTemplate">
    <h4 class="shifted">{{skillLabel}}: {{title}}</h4>
    <div id="singleSkillInfoRegion" class="block-margin"></div>
    <div id="singleSkillUsersRegion" class="block-margin"></div>
</script>

<script type="text/template" id="competencesUserSingleSkillInfoViewTemplate">
    <div class="div-table val-info-table settings-table">
        <div class="div-row">
            <div class="div-col name-col">{{categoryLabel}}</div>
            <div class="div-col"> <a class="cursor-pointer js-parent-category" data-value="{{parentCategoryId}}"> {{parentCategoryTitle}} </a> </div>
        </div>
        {{#description}}
        <div class="div-row">
            <div class="div-col name-col">{{descriptionLabel}}</div>
            <div class="div-col"> {{description}} </div>
        </div>
        {{/description}}
    </div>
</script>

<script type="text/template" id="competencesUserGroupedItemsViewTemplate">
    <h3 class="block-header">
        {{#isSkill}}
            {{userName}} {{userIsCompetentLabel}} ({{skillsAmount}})
        {{/isSkill}}
        {{^isSkill}}
            {{header}}
        {{/isSkill}}
    </h3>
    <div class="js-list-view clearfix"></div>
</script>

<script type="text/template" id="competencesUserGroupedItemsLevelViewTemplate">
    <h5> {{title}} ({{skillsAmount}}) </h5>
    <ul class="js-skills-list competences-list"> </ul>
</script>

<script type="text/template" id="competencesUserGroupedItemsLevelItemViewTemplate">
    <a class="cursor-pointer" data-value="{{id}}"> {{itemLink}} </a>
    {{#isFavourite}} <span class="val-icon-heart"></span> {{/isFavourite}}
</script>

<script type="text/template" id="competencesUserSearchResultViewTemplate">
    <h4 class="shifted"> {{searchResultLabel}} </h4>
    <hr>
    <h6 class="shifted js-no-search-result" style="display: none;"> {{noSearchResultsLabel}} '{{searchText}}' </h6>
    <div id="searchResultUserRegion"></div>
    <div id="searchResultSkillRegion"></div>
    <div id="searchResultCategoryRegion"></div>
    <div id="searchResultValamisCertificatesRegion"></div>
    <div id="searchResultOtherCoursesRegion"></div>
    <div id="searchResultOtherCertificatesRegion"></div>
    <div id="searchResultOtherHopesRegion"></div>
</script>

<script type="text/template" id="competencesUserValamisCertificateViewTemplate">
    <div class="tile">
        <div class="tile-content">
            <div class="image certificate img-square"
            {{#logo}}
            style="background-image: url('{{{apiPath}}}files/images?folderId={{id}}&file={{logo}}')"
            {{/logo}}></div>
        </div>
        <ul>
            <li class="title">{{title}}</li>
            {{#description}}
            <li class="description"> {{description}} </li>
            {{/description}}
        </ul>
        </div>
    </div>

    <div class="block-margin">
        <h3> {{succeedUsersLabel}} </h3>
        <ul class="competences-list">
        {{#usersList}}
            <li>
            <a class="cursor-pointer js-certificate-user" data-value="{{id}}"> {{name}} </a>
            </li>
        {{/usersList}}
        </ul>
    </div>
</script>