<script type="text/template" id="myCoursesLayoutTemplate">
    <table class="val-statistic-table js-courses-table">
        <thead>
        <tr>
            <th class="expand"></th>
            <th>{{courseNameLabel}}</th>
            <th class="status js-status-col"><span>{{statusLabel}}</span></th>
            <th class="status progress-col js-progress-col"></th>
            <th class="summary">
                <span class="val-icon val-icon-user valamis-tooltip" data-placement="bottom" title="{{courseUserTooltipDescription}}"></span>
            </th>
            <th class="summary">
                <span class="val-icon val-icon-checkbutton valamis-tooltip" data-placement="bottom" title="{{courseCheckbuttonTooltipDescription}}"></span>
            </th>
        </tr>
        </thead>
        <tbody id="coursesTable">
        </tbody>
    </table>
    <div class="div-table no-content-table hidden js-no-items">
        <div class="div-col div-col-center">{{noCoursesLabel}}</div>
    </div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}} </span>
    </div>
</script>

<script type="text/template" id="myCoursesRowViewTemplate">
    <td class="expand js-toggle-details"> <span class="val-icon-toggle"></span> </td>
    <td>
        {{#url}}<a href="{{url}}" target="_blank">{{/url}}
        {{title}}
        {{#url}}</a>{{/url}}
    </td>
    <td class="status">
        <div class="status-label">
            {{#isSuccess}} {{completedLabel}} {{/isSuccess}}
            {{^isSuccess}} {{inProgressLabel}} {{/isSuccess}}
        </div>
    </td>
    <td class="status progress-col">
        <div class="val-progress-bar">
            <div class="val-progress {{colorClass}}">
                <span style="width: {{progress}};"></span>
            </div>
            <span class="val-percentage"> {{progress}} </span>
        </div>
    </td>
    <td class="summary"> {{users}} </td>
    <td class="summary"> {{completed}} </td>
</script>

<script type="text/template" id="myCoursesDetailsViewTemplate">
    <td colspan="6">
        <div class="details">
            <div class="header clearfix">
                <div class="column-left title"> {{studentProgressionLabel}} </div>
                <div class="column-right text-center">
                    <span class="val-legend-block completed"></span> {{completedLabel}}
                    <span class="val-legend-block inprogress"></span> {{inProgressLabel}}
                    <span class="val-legend-block"></span> {{notStartedLabel}}
                </div>
            </div>
            <div id="canvas-labels"></div>
            <div style="position: relative;" class="js-scroll-div">
                <canvas id="canvas-grid" width="0" height="0"></canvas>
                <div class="user-list-layout js-scroll-bounded">
                    <ul class="user-list js-users-list js-scroll-list"></ul>
                </div>
                <div class="loading-container js-loading-gif"></div>
            </div>
        </div>
    </td>
</script>

<script type="text/template" id="myCoursesUsersItemViewTemplate">
    <div class="column-left">
        <div class="user-img {{#isCompleted}} user-completed {{/isCompleted}}"><img src="{{picture}}" alt="{{name}}">
        </div>
        <div>
            <div>
                <span class="user-name"> {{name}} </span>
            </div>
            {{successProgress}} {{completedLabel}}
        </div>
    </div>

    <div class="column-right">
        <div class="val-progress-chart">
            <div class="progress-completed" style="width: {{successProgress}};"></div>
            <div class="progress-inprogress" style="width: {{inProgress}};"></div>
            <div class="progress-notstarted" style="width: {{notStarted}};"></div>
        </div>
    </div>
</script>