<script type="text/template" id="phenomenizerStudioLayoutTemplate">
    <div id="phenomenizerStudioToolbar"></div>
    <div id="phenomenizerStudioCollection"></div>
    <div id="phenomenizerStudioPaginator" class="val-paginator text-center"></div>
    <div id="phenomenizerStudioEditorContainer"></div>
</script>

<script type="text/template" id="phenomenizerStudioToolbarTemplate">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <div class="val-search">
                <input type="text" class="js-search" placeholder="{{searchLabel}}">
            </div>
        </div>

        {{#PHEN_STUDIO_MODIFY}}
        <div class="filter-element shift-right">
            <button class="button medium primary shift-right js-new-story">
                <span class="val-icon-plus"></span>
                {{newStoryLabel}}
            </button>
        </div>
        {{/PHEN_STUDIO_MODIFY}}
    </div>

    <div class="val-row filters-row">
        <div class="shift-left filter-element paging-showing-label" id="toolbarPaginatorShowing"></div>

        <div class="dropdown filter-element shift-right js-sort-filter">
            <button class="button medium simple ">
                <span class="dropdown-text"> {{byNameAscLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>

            <ul class="dropdown-menu">
                <li class="js-sort" data-value="nameAsc"> {{byNameAscLabel}} </li>
                <li class="js-sort" data-value="nameDesc"> {{byNameDescLabel}} </li>
            </ul>
        </div>
        <button class="button medium simple no-text hide-s shift-right js-tile-view">
            <span class="val-icon-grid-view">Grid View</span>
        </button>
        <button class="button medium simple no-text hide-s shift-right js-list-view">
            <span class="val-icon-list-view">List View</span>
        </button>
    </div>
</script>

<script type="text/html" id="storiesListItemViewTemplate">
    <div class="tile-content with-action">
        <div class="image"
        {{#logo}}
        style="background-image: url('/delegate/storyTrees/{{id}}/logo?logo={{logo}}&courseId={{courseId}}')"
        {{/logo}}>
    </div>
    <ul>
        <li class="title">{{title}}</li>
        <li class="description">{{description}}</li>
        <!--<li class="categories"> {{elements}} {{elementsLabel}}</li>-->
        {{^published}}
        <li class="status"> <span class="val-label">
            {{unpublishedLabel}}
        </span> </li>
        {{/published}}
    </ul>
    <div class="dropdown actions shift-right">
        <button class="button medium neutral">
            <span class="dropdown-text">{{actionsLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="js-story-edit">
                {{#PHEN_STUDIO_MODIFY}} {{editLabel}} {{/PHEN_STUDIO_MODIFY}}
                {{^PHEN_STUDIO_MODIFY}} {{viewLabel}} {{/PHEN_STUDIO_MODIFY}}
            </li>
            {{#PHEN_STUDIO_MODIFY}}
            <li class="js-story-compose"> {{composeLabel}} </li>
            {{/PHEN_STUDIO_MODIFY}}

            {{#PHEN_STUDIO_PUBLISH}}
            {{#published}}
                <li class="js-story-unpublish"> {{unpublishLabel}} </li>
            {{/published}}
            {{^published}}
                <li class="js-story-publish"> {{publishLabel}} </li>
            {{/published}}
            {{/PHEN_STUDIO_PUBLISH}}

            {{#PHEN_STUDIO_MODIFY}}
            <li class="js-story-delete"> {{deleteLabel}} </li>
            {{/PHEN_STUDIO_MODIFY}}
        </ul>
    </div>
</script>

<script type="text/template" id="storyEditInfoViewTemplate">
    <div class="div-table val-info-table">
        <div class="div-row">
            <div class="div-col name-col">
                {{storyTitleLabel}}
            </div>
            <div class="div-col content-col">
                <input type="text" placeholder="{{storyTitlePlaceholderLabel}}" value="{{title}}" class="js-title-field"
                    {{^PHEN_STUDIO_MODIFY}} disabled {{/PHEN_STUDIO_MODIFY}} />
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{coverImageLabel}}
            </div>
            <div class="div-col content-col">
                <img
                {{#logo}}
                src="/delegate/storyTrees/{{id}}/logo?courseId={{courseId}}"
                {{/logo}}

                {{^logo}}
                src="/learn-portlet/img/imgo.jpg"
                {{/logo}}
                class='js-logo shift-left val-img-logo {{#PHEN_STUDIO_MODIFY}} js-upload-image {{/PHEN_STUDIO_MODIFY}}'>

                <div class="button-block shift-left">
                    <button class="button medium primary {{#PHEN_STUDIO_MODIFY}} js-upload-image {{/PHEN_STUDIO_MODIFY}}"> {{uploadImageLabel}} </button>
                    <button class="button medium neutral {{#PHEN_STUDIO_MODIFY}} js-select-from-media-gallery {{/PHEN_STUDIO_MODIFY}}"> {{selectFromMediaGalleryLabel}} </button>
                </div>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{descriptionLabel}}
            </div>
            <div class="div-col content-col">
                <textarea rows="5" class="js-description-field" placeholder="{{storyDescriptionPlaceholderLabel}}"
                    {{^PHEN_STUDIO_MODIFY}} disabled {{/PHEN_STUDIO_MODIFY}}>{{description}}</textarea>
            </div>
        </div>
    </div>
    <div class="bbm-modal__bottombar">
        <button class="button big neutral modal-close">{{cancelLabel}}</button>
        <button class="button big primary {{#PHEN_STUDIO_MODIFY}} js-submit-button {{/PHEN_STUDIO_MODIFY}} ">{{saveLabel}}</button>
    </div>
</script>

<script type="text/html" id="phenomenizerStudioWindowTemplate">
<div class="slides-editor-topbar static">
</div>
<div class="phenomenizer-editor-wrapper">
    <div class="sidebar-wide collapsed"></div>
    <div class="phenomenizer-content"></div>
</div>
</script>

<script type="text/html" id="phenomenizerStudioTopbarTemplate">
<div class="val-row">

    <div class="shift-right">
        <div class="val-icon-exit no-margin shift-right close-slideset js-close-window"></div>
        <div class="shift-right topbar-buttons js-editor-save-container">
            <button class="button medium slides-gray no-margin js-editor-button-issaved">
                {{issavedLabel}}
            </button>
            <button class="button medium primary no-margin hidden js-editor-button-save">
                {{saveLabel}}
            </button>
        </div>
    </div>

    <div class="shift-left">
        <div class="shift-left mode-switcher">
            <div class="button-group">
                <button class="button medium slides-gray button-tooltip valamis-tooltip js-editor-sidebar-toggle" title="{{sidebarLabel}}">
                    <span class="val-icon-menu"></span>
                </button>
            </div>
        </div>
        <div class="shift-left slides-editor-undo" style="margin-left:-13px;">
            <button class="button medium slides-gray js-undo">
                {{undoLabel}}
            </button>
        </div>
    </div>

    <div class="presentation-title-container text-center hide-s">
        <span class="presentation-title js-presentation-title">
            {{title}}
        </span>
        <span class="presentation-unsaved">– {{unsavedLabel}}</span>
    </div>

</div>
</script>

<script type="text/html" id="phenomenizerStudioLessonListTemplate">
<div class="val-row filters-row-narrow">
    <div class="dropdown" data-value="lessons">
        <button class="button big simple">
            <span class="dropdown-text">{{curentContentTypeName}}</span>
            <span class="val-icon-arrow-down val-icon-right"></span>
        </button>
        <ul class="dropdown-menu">
            {{#contentTypeList}}
            <li class="js-contenttype{{#selected}} selected{{/selected}}" data-value="{{value}}">{{name}}</li>
            {{/contentTypeList}}
        </ul>
    </div>
</div>
<div class="val-row filters-row">
    <div class="val-search">
        <input type="text" class="js-search" placeholder="Search">
    </div>
</div>
<div class="val-tree-header">
    <span class="js-total">{{total}}</span> {{curentContentTypeName}}
</div>
<ul class="val-tree" id="phenomenizer-editor-lessons"></ul>
</script>

<script type="text/html" id="phenomenizerStudioContentTemplate">
    <div id="phenomenizer-tree"></div>
</script>

<script type="text/html" id="phenomenizerStudioLessonTemplate">
<span class="tree-item">
    <span class="tree-item-title">{{title}}</span>
</span>
</script>

<!--phenomenizer report -->

<script type="text/template" id="phenomenizerReportLayoutTemplate">
    <div id="phenomenizerReportCollectionLayout"></div>
    <div id="phenomenizerReportStoryReportLayout"></div>
</script>

<script type="text/template" id="phenomenizerReportCollectionLayoutTemplate">
    <div id="phenomenizerReportToolbar"></div>
    <div id="phenomenizerReportCollection"></div>
    <div id="phenomenizerReportPaginator" class="val-paginator text-center"></div>
</script>

<script type="text/template" id="phenomenizerReportToolbarTemplate">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <div class="val-search">
                <input type="text" class="js-search" placeholder="{{searchLabel}}">
            </div>
        </div>
    </div>

    <div class="val-row filters-row">
        <div class="shift-left filter-element paging-showing-label" id="reportToolbarPaginatorShowing"></div>

        <div class="dropdown filter-element shift-right js-sort-filter">
            <button class="button medium simple">
                <span class="dropdown-text"> {{byNameAscLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>

            <ul class="dropdown-menu">
                <li class="js-sort" data-value="nameAsc"> {{byNameAscLabel}} </li>
                <li class="js-sort" data-value="nameDesc"> {{byNameDescLabel}} </li>
            </ul>
        </div>
        <button class="button medium simple no-text hide-s shift-right js-tile-view">
            <span class="val-icon-grid-view">Grid View</span>
        </button>
        <button class="button medium simple no-text hide-s shift-right js-list-view">
            <span class="val-icon-list-view">List View</span>
        </button>
    </div>
</script>

<script type="text/html" id="userStoriesListItemViewTemplate">
    <div class="tile-content with-action">
        <div class="image cursor-pointer js-open-report"
        {{#logo}}
        style="background-image: url('/delegate/storyTrees/{{id}}/logo?courseId={{courseId}}')"
        {{/logo}}>
    </div>
    <ul>
        <li class="title cursor-pointer js-open-report">{{title}}</li>
        <li class="description">{{description}}</li>
        <!--<li class="categories"> {{elements}} {{elementsLabel}}</li>-->
    </ul>
    </div>
</script>

<script type="text/html" id="phenomenizerReportViewTemplate">
    <div class="portlet-wrapper sidebar-hidden">
        {{#PHEN_REPORT_VIEW_ALL}}
        <div class="portlet-sidebar filters-row"></div>
        {{/PHEN_REPORT_VIEW_ALL}}
        <div class="content-wrapper"></div>
    </div>
</script>

<script type="text/html" id="phenomenizerReportUsersCollectionViewTemplate">
    <div class="val-search">
        <input type="text" class="js-search" placeholder="{{searchLabel}}">
    </div>

    <div class="sidebar-content">
        <div class="sidebar-subtitle"> <span class="js-users-amount"></span> Users </div>
        <ul class="js-items-view"> </ul>
    </div>
</script>

<script type="text/html" id="phenomenizerReportUsersCollectionItemViewTemplate">
    <img src="{{picture}}" alt="{{name}}" class="img-circle display-inline small">
    <span class="lesson-item-title display-inline"> {{name}} </span>
</script>

<script type="text/html" id="phenomenizerReportReportTreeViewTemplate">
    <div class="content-header clearfix">
        {{#PHEN_REPORT_VIEW_ALL}}
        <div class="content-controls shift-left">
            <div class="val-icon-menu js-toggle-sidebar val-icon-with-label">
                <span>Users</span>
            </div>
        </div>
        {{/PHEN_REPORT_VIEW_ALL}}
        <div class="content-controls shift-right">
            <div class="val-icon-exit js-close-report"></div>
        </div>
        <h2 class="content-title">{{title}}</h2>
        <div class="content-controls-buttons">
            <button class="button medium simple no-text valamis-tooltip js-button-collapseall" data-placement="bottom" title="{{collapseAllLabel}}">
                <i class="val-icon-fullscreen-exit"></i>
            </button>
            <button class="button medium simple no-text valamis-tooltip js-button-expandall" data-placement="bottom" title="{{expandAllLabel}}">
                <i class="val-icon-fullscreen"></i>
            </button>
        </div>
    </div>
    <div class="content-container" style="height: 700px;" id="phenomenizer-tree"></div>
    <div id="phenomenizer-modals"></div>
</script>

<script type="text/html" id="phenomenizerModalPersentViewTemplate">
    <div class="val-modal" id="phenomenizer-modal-percent">
        <input class="modal-state" type="checkbox"/>
        <div class="modal-window">
            <div class="modal-bg">
                <div class="modal-small">
                    <button class="button medium simple no-text no-margin js-button-close">
                        <span class="val-icon-exit"></span>
                    </button>
                    <div class="modal-small-body clearfix">
                        <h3 class="text-left">{{title}}</h3>
                        <div class="s-8">
                            {{#description}}
                                <h5>Description</h5>
                                {{description}}
                            {{/description}}
                            {{^description}}
                                &nbsp;
                            {{/description}}
                            {{#isLesson}}
                            <div>
                                <button class="button medium primary js-watch">Watch lesson</button>
                            </div>
                            {{/isLesson}}
                        </div>
                        <div class="s-4 chart-container">
                            <div class="text-center">
                                {{statusName}}
                                <div><i>{{dateString}}</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="phenomenizerNodeDescriptionTemplate">
        <div class="bbm-modal__topbar">
            <h3 class="bbm-modal__title">{{descriptionLabel}}</h3>
        </div>
        <textarea class="js-description-field" rows="5" placeholder="{{storyDescriptionPlaceholderLabel}}"></textarea>
        <div class="bbm-modal__bottombar">
            <button class="button medium neutral modal-close">{{cancelLabel}}</button>
            <button class="button medium primary js-submit-button">{{okLabel}}</button>
        </div>
</script>

<script type="text/template" id="phenomenizerSaveConfirmationTemplate">
    <div class="confirmation-question">{{warningUnsavedLabel}}</div>
    <div>
        <button class="confirmation btn-primary">{{saveLabel}}</button>
        <button class="decline btn-primary">{{dontSaveLabel}}</button>
        <button>{{cancelLabel}}</button>
    </div>
</script>
