
<script type="text/template" id="userPortfolioLayoutTemplate">
    <div id="userInfo"></div>
    <div class="filters-row">
        <h4> {{curriculumMyTabsHeaderLabel}} </h4>
    </div>
    <div id="userCertificates"></div>
</script>

<script type="text/template" id="userPortfolioUserInfoViewTemplate">
    <tbody>
        <tr>
            <td class="narrow-col">
                <img src="{{picture}}" alt="{{name}}" class="img-circle"/></div>
            </td>
            <td>
                {{name}}
            </td>
        </tr>
    </tbody>
</script>

<script type="text/html" id="userPortfolioCertificatesItemViewTemplate">
    <div class="tile-content">
        <div class="image certificate js-open-goals cursor-pointer" data-certificate="{{id}}"
            {{#logo}}
                {{#isLocal}}
                    style="background-image: url('/delegate/files/images?folderId={{id}}&file={{logo}}')"
                {{/isLocal}}
                {{^isLocal}}
                    style="background-image: url('{{logo}}')"
                {{/isLocal}}
            {{/logo}} >
        </div>
        <ul>
            <li class="title">{{title}}</li>
            <li class="description">{{decodedDescription}}</li>
        </ul>
    </div>
</script>

<script type="text/template" id="userPortfolioGoalsCollectionViewTemplate">
    <label class="valamis-info-label shifted hidden js-no-goals-label"> {{noAvailableGoalsLabel}} </label>

    <div class="val-list-table">
        <div class="val-row val-list-table-header js-certificate-goals-header">
            <div class="s-7"> {{learningGoalLabel}} </div>
            <div class="s-2">{{typeLabel}}</div>
            <div class="s-1 text-center">{{optionalLabel}}</div>
            <div class="s-2 text-right">{{statusLabel}}</div>
        </div>
        <ul class="js-certificate-goals">
        </ul>
    </div>
</script>

<script type="text/template" id="userPortfolioGroupGoalsItemViewTemplate">
    <div class="val-row list-table-row">
        <div class="s-7 title">
            {{group1Label}}
            <input type="text" class="onlyDigits js-digits-only js-group-count" value="{{count}}" disabled="disabled" />
            {{group2Label}}
        </div>

        <div class="s-2">&nbsp;</div>

        <div class="s-1">&nbsp;</div>

        <div class="s-2 text-right">&nbsp;</div>
    </div>
    <ul class="js-items goals-group"></ul>
</script>

<script type="text/template" id="userPortfolioGoalsItemViewTemplate">
    <div class="val-row list-table-row">
        <div class="s-7 title">
            {{#isActivity}}
            <input type="text" class="onlyDigits js-digits-only js-activity-count" value="{{count}}" disabled="disabled" />
            {{/isActivity}}

            {{#isDeleted}} <span class="valamis-info-label"> {{deletedItemLabel}} </span> {{/isDeleted}}

            {{^isDeleted}}
            {{#url}}<a href="{{url}}" target="_blank">{{/url}}
            {{title}}
            {{#url}}</a>{{/url}}
            {{/isDeleted}}
        </div>

        <div class="s-2">{{goalItemTypeText}}&nbsp;</div>

        <div class="s-1 text-center">
            {{^groupId}}
            <input type="checkbox" id="optionalGoal1_{{uniqueId}}" class="val-checkbox js-is-optional" disabled="disabled"
                   {{#isOptional}}checked{{/isOptional}}/>
            <label class="checkbox-label" for="optionalGoal1_{{uniqueId}}"> </label>
            {{/groupId}}
            &nbsp;
        </div>

        <div class="s-2 text-right">{{^isDeleted}} {{dateFinish}} {{/isDeleted}}</div>
    </div>
</script>